body {
    margin: 0;
    background-color: #c5d9b5;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    background-color: #e8e7cd;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
    text-align: center;
    width: 300px;
  }
  
  .login-box h1 {
    margin: 0;
    color: #ffb400;
    font-weight: bold;
  }
  
  .icon {
    width: 80px;
    margin: 1rem 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 15px;
  }
  
  button {
    padding: 8px;
    border: none;
    background-color: #ffb400;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #e09c00;
  }
  
  #login-message {
    color: red;
    margin-top: 10px;
  }

  .logo-bloque {
  text-align: center;
  margin-bottom: 1rem;
}

.logo-text {
  font-size: 32px;
  font-weight: bold;
  color: #ffb400;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 10px;
}

.logo-pin {
  width: 80px;
  height: 100px;
  margin: 0 auto;
  background-color: #e9ebd6;
  border: 3px solid #ffb400;
  border-radius: 50% 50% 50% 0;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-pin img {
  width: 40px;
  transform: rotate(-45deg);
}
